DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=alx_travel
DB_USER=root
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=3306
CHAPA_SECRET_KEY=your_chapa_secret_key_here
CHAPA_BASE_URL=https://api.chapa.co/v1
